.wrap {
    background-color:#000;
    text-align:center;
}
.wrap .container{/* 공통 컨테이너 */
    margin:0 auto; width:1520px;
}
/* -----------------s:1행 intro */
.wrap * section {/* 각 행에 대한 마진 */
    /* margin-bottom:400px; */
}
.wrap .intro {
    background:url(../images/text.jpg) no-repeat 50% 5%;
    margin-bottom:400px;
}
.wrap .intro .container {}
.wrap .intro .container .logo {
    margin-bottom:300px; padding-top:200px;
}
.wrap .intro .container .logo h1 {}
.wrap .intro .container .logo h1 a {}
.wrap .intro .container .logo h1 a img {}
.wrap .intro .container .logo h2 {
    font-size:3.125rem; font-weight:700;
    line-height:1.5;
    margin-top:50px; 
}
.wrap .intro .container .img_btn {}
.wrap .intro .container .img_btn .photo {
    display:flex; align-items:center; justify-content:center;
    width:1520px; margin:0 auto;
}
.wrap .intro .container .img_btn .photo a {}
.wrap .intro .container .img_btn .photo a:nth-of-type(1) {margin-right:-40px;}
.wrap .intro .container .img_btn .photo a:nth-of-type(2) {margin-right:-40px;}
.wrap .intro .container .img_btn .photo a:nth-of-type(3) {z-index:30;}
.wrap .intro .container .img_btn .photo a:nth-of-type(4) {margin-left:-40px; z-index:20;}
.wrap .intro .container .img_btn .photo a:nth-of-type(5) {margin-left:-40px;}
.wrap .intro .container .img_btn .photo a img {}
.wrap .intro .container .img_btn p {
    font-size:2.188rem;
    line-height:1.5;
    margin:100px 0 150px;
}
.wrap .intro .container .img_btn .go_btn {}
.wrap .intro .container .img_btn .go_btn > * {
    padding:20px 40px;
    background-color:#D9232E;
    border-radius:40px;
    font-size:1.875rem; font-weight:500px;
}
.wrap .intro .container .img_btn .go_btn .homepage {
    margin-right:300px;
}
.wrap .intro .container .img_btn .go_btn .app {}
/* -----------------e:1행 intro*/
/* -----------------s:2행 quiz*/
.wrap .quiz {
    margin:0 auto; padding:100px 0;
    position:relative;
    margin-bottom:400px;
}
.wrap .quiz .quiz_bg {
    background-image:url(../images/quiz_bg2.jpg);
    width:100%; height:100%;
    opacity:30%; position:absolute;
    top:0; left:0;
    z-index:1;
    background-size:cover;
}
.wrap .quiz .quiz_bg::before {/* 퀴즈 배경 그라디언트넣기 (사진 밝은색으로 직접 그라디언트 넣어보기) */
    content:'';
    position:absolute;
    top:0; left:0;
    /* background-image:url(../images/quiz_bg2.jpg); */
    width:100%; height:100%;
    z-index:1;
    background-size:contain;
    background:linear-gradient(180deg, rgba(0,0,0,0.4),transparent, rgba(0,0,0,0.4));

}
.wrap .quiz .container {position:relative; z-index:10;}
.wrap .quiz .container .top {
    width:842px; height:510px;
    margin:0 auto 100px; padding:50px 0;
}
.wrap .quiz .container .top p {
    font-size:2.5rem; font-weight:600;
}
.wrap .quiz .container .top .list {
    display:flex; flex-flow:column nowrap;
    width:551px; height:270px;
    margin:100px auto;
    text-align:left;
}
.wrap .quiz .container .top .list label {margin-bottom:50px;}
.wrap .quiz .container .top .list label input[value^=answer] {display:none;}
.wrap .quiz .container .top .list label input[value^=answer]:checked + span {
    background-image:url(../images/quiz_on.png);
}
.wrap .quiz .container .top .list label span {
    font-size:1.563rem; font-weight:600;
    /* 체크박스 설정 */
    background-image:url(../images/quiz_off.png);
    background-repeat:no-repeat;
    background-size:4%;
    display:block;
    padding-left:30px;
}
.wrap .quiz .container .bottom {
    width:464px;
    margin:0 auto;
}
.wrap .quiz .container .bottom .quiz_chk {
    font-size:2.188rem;
    line-height:1.5;
    width:max-content;
    padding:20px 40px; margin:0 auto 30px;
    border-radius:40px; border:5px solid #D9232E;
    background-color:#000000;
}
.wrap .quiz .container .bottom p {
    font-size:1.25rem; line-height:1.5;
}
/* -----------------e:2행 quiz*/
/* -----------------s:3행 video*/
.wrap .ad_video {
    margin-bottom:400px;
    /* background:
    linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(217,35,46,0.5),rgba(0,0,0,0.5)),
    linear-gradient(to right, rgba(0,0,0,0.8), rgba(217,35,46,1),rgba(0,0,0,0.5)); */
    background: 
    linear-gradient(to right, rgba(0,0,0,0.8),rgba(217,35,46,0.7), rgba(217,35,46,0.5),rgba(217,35,46,0.7), rgba(0,0,0,0.8)),
    linear-gradient(to bottom, rgba(0,0,0,0.8), rgba(217,35,46,0.5),rgba(0,0,0,0.8));
background-blend-mode: multiply;
}
.wrap .ad_video .container {
    display:flex; justify-content:space-between;
    padding:100px 0;
    /* height:800px; */
    align-content:center;
}
.wrap .ad_video .container .left_video {}
.wrap .ad_video .container .left_video iframe {
    width:700px; height:393px;
}
.wrap .ad_video .container .right_content {text-align:left;}
.wrap .ad_video .container .right_content h2 {
    font-size:3.125rem; font-weight:700;
    line-height:1.5;
}
.wrap .ad_video .container .right_content p {
    font-size:2.188rem;
    line-height:1.5;
}
.wrap .ad_video .container .right_content p:nth-of-type(1) {
    margin:100px 0 50px;
}
.wrap .ad_video .container .right_content p span {
    font-size:2.188rem;
    font-weight:700;
    line-height:1.5;
    color:#D9232E;
}
/* -----------------e:3행 video*/
/* -----------------s:4행 slide*/

/* -----------------e:4행 slide*/